<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>


<style>
    body {
      font: 20px "Trebuchet MS", Helvetica, sans-serif;
      padding: 0;
      margin: 0;
    }
    a, a:visited, a:focus {
        text-decoration: none;
    }
    button, #signup {
        background: #BDB9BC;
        outline: none;
        cursor: pointer;
        padding: 0;
        border: none;
        margin: 5px 0px;
        height: 50px;
    }
    button:hover, #signup:hover {
        background-color: white;
    }
    button:active, #signup:active {
        background-color: #BDB9BC;
    }
    input {
        outline: #BDB9BC solid thin;
        margin: 5px 0px;
        padding: 10px;
        border: none;
    }
    input:focus {
    
        outline: #BDB9BC solid thin;
    }
  #welcome {
    width: 100%;
    height: 100%;
    background-image: url(<%= asset_path "welcome.jpg" %>);
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
  }
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(<%= asset_path "dark11.png"%>);
    width: 100%;
    height: 100%;
  }
  #topbar {
      background-color: #7e8631;
      margin: 0;
      position: fixed;
      z-index: 100;
      top: 0;
      padding: 0;
      height: 78px;
      width: 100%;
    }
    header {
        position: absolute;
        left: 50%;
        top: 0%;
        height: 50px;
        width: 1000px;
        margin-left: -500px;
    }
    #login {
      background: #7e8631;
      height: 78px;
      padding: 0px 20px;
      margin: 0px;
      cursor: pointer;
      float: right;
      color: white;
    }
    #login:hover {
        background: white;
        color: black;
    }
    .content {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 450px;
        width: 1000px;
        margin-left: -500px;
        margin-top: -225px;
    }
    .contOver {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: white;
        opacity: 0.75;
    }
    #left {
      position: absolute;
      top: 50%;
      left: 25%;
      margin-top: -135px;
      margin-left: -150px;
      width: 300px;
      height: 275px;
    }
    #left input {
      width: 300px;
    }
    #left #signup {
      width: 300px;
    }
    #left hr {
      width: 300px;
    }
    #left #fblogin {
      background-color: #00f;
      cursor: pointer;
      color: #fff;
    }
    #right {
      position: absolute;
      right: 25%;
      top: 50%;
      margin-top: -135px;
      margin-right: -150px;
      width: 300px;
      height: 275px;
    }
    #right #explore {
      width: 300px;
      height: 60px;
    }
    #signinOverlay {
      z-index: 99;
      background: #fff;
      opacity: 0.8;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    #signinPopUp {
      background: #808080;
      width: 320px;
      padding: 10px;
      height: 200px;
      z-index: 100;
      position: fixed;
      top: 50%;
      left: 50%;
      margin-left: -150px;
      margin-top: -100px;
    }
    #signinPopUp input,
    #signinPopUp button {
      margin-top: 20px;
      width: 300px;
    }
    #signinPopUp .close {
      cursor: pointer;
      float: right;
    }

    .hidden {
        display: none;
    }
    #logo {
        float: left;
        height: 78px;
    }

</style>

<body>
    <section id="content" >
    <div id="welcome"></div>
    <div id="overlay"></div>
    <div id="topbar"> 
        <header>
            <a href="/">
            <%= image_tag("logo.png", :id => 'logo') %>
          </a>
            <button id="login" >
                <h3> Sign In </h3>
            </button>
        </header>
     </div>

    <div class="content">
        <div class="contOver"></div>
            <div id="left">
           
              <%= button_to 'FACEBOOK SIGN UP', closet_index_path, :id => 'fblogin', :method => :get, :style => "width:320px;" %>
            
        <hr style="width:320px;"/>
        <%= form_for(resource, :name => 'signUpForm', :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div>
          <%= f.text_field :name, :placeholder => 'Name', :autofocus => true %>
        </div>
        <div>
          <%= f.email_field :email, :placeholder => 'Email' %>
        </div>

        <div>
          <%= f.password_field :password, :placeholder => 'Password'%>
        </div>
        <div>
          <%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation' %>
        </div>

        <div><%= f.submit "Sign up", :id => "signup", :style => "width:320px;" %></div>
        <% end %>
      </div>
        <div id="right">
            <button id="explore" style="margin-top:100px;">
                <h2>EXPLORE</h2>
            </button>
        </div>
    </div>

    <div id="signinOverlay" class="hidden" ></div>

    <div id="signinPopUp"  class="hidden" >
        <span class="close" >X</span>
        <form name="signInForm">
            <input name="email" required type="email" placeholder="email"  />
            <input  name="password" required  type="password" placeholder="password" />
            <button >SIGN IN</button>
        </form>
    </div>
    </section>  
</body>