
<html>
  <head>
    <title>  My room | Trendz </title>

    <style>
    body {
      font: 20px "Trebuchet MS", Helvetica, sans-serif;
      padding: 0;
      margin: 0;
    }
    button {
        background: #BDB9BC;
        outline: none;
        cursor: pointer;
        padding: 0;
        border: none;
        margin: 5px 0px;
        height: 50px;
    }
    button:hover {
        background-color: white;
    }
    button:active {
        background-color: #BDB9BC;
    }
    input {
        outline: #BDB9BC solid thin;
        margin: 5px 0px;
        padding: 10px;
        border: none;
    }
    input:focus, area:focus {
        outline: #BDB9BC solid thin;
    }
    #welcome {
      width: 100%;
      height: 100%;
      background-image: url("<%= asset_path "welcome.jpg" %>");
      background-size: cover;
      position: fixed;
      top: 0;
      left: 0;
    }
    #overlay {
      position: fixed;
      top: 0;
      left: 0;
      background-image: url("<%= asset_path "dark11.png"%>");
      width: 100%;
      height: 100%;
    }
    #topbar {
      background-color: #7e8631;
      margin: 0;
      position: fixed;
      z-index: 100;
      top: 0;
      padding: 0;
      height: 78px;
      width: 100%;
    }
    header {
        position: absolute;
        left: 50%;
        top: 0%;
        height: 50px;
        width: 1000px;
        margin-left: -500px;
    }
    header button {
      background: #7e8631;
      height: 78px;
      padding: 0px 20px;
      margin: 0px;
      cursor: pointer;
      float: right;
    }
    header button:hover {
        background: #fff  ;
    }
    .content {
        position: absolute;
        left: 50%;
        top: 80
        height: 400px;
        width: 1000px;
        margin-left: -500px;
        margin-top: -175px;
    }
    .contOver {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: white;
        opacity: 0.8;
    }

    .hidden {
        display: none;
    }
    
    .myroom {
        background: #fff;
        position: absolute;
        left: 50%;
        top: 78px;
        width: 1000px;
        margin-left: -500px;
    }
    #header {
        background-image: url("<%= asset_path "closet.jpg" %>");
        position: absolute;
        top: 0px;
        width: 100%;
        left: 0px;
        height: 200px;
    }
    #profPicCont {
        background: #7e8631;
        position: absolute;
        top: 50px;
        left: 50px;
        width: 100px;
        height: 100px;
        border: 1px grey solid;
    }
    #profPicCont img {
       
        margin: 5px;
        height:90px;   
    }
    #header .desc {
        color: #7e8631;
        position: absolute;
        top: 17px;
        left: 190px;
        -webkit-text-stroke: 0px black;
    }
    .table {
        text-align: center;
        background: white;
        position: absolute;
        top: 200px;
        width: 100%;
    }
    .post {
        width: 300px;
        margin: 20px 10px 0px 10px;
        cursor: pointer;
    }
    </style>
    
    
	</head>
   <body>
   	<section id="content" >
        <div id="overlay"></div>
        <div id="topbar"> 
            <header>
               <%= image_tag("logo.png", :id => 'logo') %>
                <button id="login" >
                    <h3> Log Out</h3>
                </button>
                <button id="login" >
                    <h3> Profile</h3>
                </button>
                <button id="af" >
                    <h3> <%= link_to 'My room', room_index_path, :id => 'af', :style => 'text-decoration:none, color:black'%> </h3>
                </button>
                <button id="af" >
                    <h3> <%= link_to 'Explore', closet_index_path, :id => 'af', :style => 'text-decoration:none, color:black'%> </h3>
                </button>
                <button id="af" >
                    <h3><%= link_to 'Now Trending', closet_index_path, :id => 'af', :style => 'text-decoration:none, color:black' %></h3>
                </button>
            </header>
         </div>

        <div class="myroom">
            <div id="header">
                <div class="contOver"></div>
                <div id="profPicCont">
                    <%= image_tag("prof.jpg") %>
                </div>
                <div class="desc">
                    <h1> Melanie's closet </h1>
                    <span> #hipster #books #beer #plaid</span>
                </div>
            </div>
            <div class="table">
            	<%= image_tag('add.png', :class => 'post newPost') %>
            	<%= image_tag('friends9.jpg', :class => 'post', :style => "height:450px") %>
            	<%= image_tag('friend8.jpg', :class => 'post') %>
            	<%= image_tag('friend2.jpg', :class => 'post' )%>
            	<%= image_tag('friends10.jpg', :class => 'post') %>
            	<%= image_tag('friend113.jpg', :class => 'post', :style => "height:400px") %>
            </table>

        </div>
      
    </section>	
</body>
</html>