<body>
	<div class="data">
		<h1 class="title">Newest trends all over the world</h1>
		<table class="table">
		  <tr>
		  	<td>
		  		<div class="box"><%= image_tag('dress1.jpg', :width => '100%') %><div>
		  	</td>
		  	<td>
		  		<div class="box"><%= image_tag('dress2.jpg', :width => '100%')%><div>
		  	</td>
		  	<td>
		  		<div class="box"><%= image_tag('dress3.jpg', :width => '100%')%><div>
		  	</td>
		  </tr>
		  <tr>
		  	<td>
		  		<div class="box"><%= image_tag('dress14.jpg', :width => '100%')%><div>
		  	</td>
		  	<td>
		  		<div class="box"><%= image_tag('dress5.jpg' , :width => '100%')%><div>
		  	</td>
		  	<td>
		  		<div class="box"><%= image_tag('dress6.jpg', :width => '100%')%><div>
		  	</td>
		  </tr>
		  <tr>
		  	<td>
		  		<div class="box"><%= image_tag('dress7.jpg', :width => '100%')%><div>
		  	</td>
		  	<td>
		  		<div class="box"><%= image_tag('dress8.jpg', :width => '100%')%><div>
		  	</td>
		  	<td>
		  		<div class="box"><%= image_tag('dress9.jpg', :width => '100%')%><div>
		  	</td>
		  </tr>
		  <tr>
		  	<td>
		  		<div class="box"><%= image_tag('dress10.jpg', :width => '100%')%><div>
		  	</td>
		  	<td>
		  		<div class="box"><%= image_tag('dress11.jpg', :width => '100%')%><div>
		  	</td>
		  	<td>
		  		<div class="box"><%= image_tag('dress12.jpg', :width => '100%')%><div>
		  	</td>
		  </tr>
		  <tr>
		  	<td>
		  		<div class="box"><%= image_tag('dress13.jpg', :width => '100%')%><div>
		  	</td>
		  	<td>
		  		<div class="box"><%= image_tag('dress4.jpg', :width => '100%')%><div>
		  	</td>
		  </tr>


		</table>
	</div>

</body>



<style>
      body {
    font: 14px "Trebuchet MS", Helvetica, sans-serif;
    padding-top: 50px;
    margin: 0;
    background-color: lightgreen;
  }
  .data{max-width: 1349px;
  		margin: auto;}
  .box{height:250px;
  		width:300px;
  		border:1px solid black;
  		display:inline-block;
  		overflow: hidden;
  		margin-right: 70px;
  		margin-top: 60px;
   }
   .box:first-child {margin-left:70px;}
   .title{margin-left: 70px;}

</style>
